.contenedor{
    height: auto;
}

.opciones{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type:none;
    background-color: wheat;
    height: 100%;
}

.banner{
    background-image: url(../../images/gal3.png);
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
    margin: 0%;
}

.bannerC{
    background-image: url(../../images/gal8.png);
    height: 420px;
}

.bannerS{
    background-image: url(../../images/gal9.png);
    height: 420px;
}

#bannert{
    background-image: url(../../images/gal10.png );
    height: 300px;
}

.logoB{
    height: 300px;
    max-width: -webkit-fill-available;
    margin: 1%;
}

#textobanner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #deb88794;
    align-items: baseline;
    width: 70%;
    padding: 0.5%;
    text-align: end;
}

#tendencias{
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tUno{
    margin: 2% 2% 2% 2%;
    height: auto;
    width: 98%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: white;
    border-radius: 2%;
    align-items: inherit;
    align-content: center;
    text-align: center;
}

.tUno-texto{
    height: auto;
    width: 100%;
    background: #f5deb3;
    text-align: center;
}

.coleccion{
    color: #ffffff;
    font-family: 'Lovers Quarrel', bold;
    font-size: 75px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.imgdiv{
    height: auto;
    padding: 0;  
    margin: 3%;
}

.f-redes{
    height: auto;

}

.cont-redes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.rrss{
    height: 30px;
    width: 30px;
    padding: 3px;
}

.logo{
    height: 100px;
    margin-top: 15px;
}

#foot-text{
    font-family: none;
    font-size: revert;
}

.atras{
    color: wheat;
}

#nos-tit{
    font-family: monospace;
    text-decoration: none;
}

#nos{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*IDEA- AGREGAR HOVERPARA PROX ENTREGA SOBRE EL STAFF*/

.names{
    text-align: -webkit-center;
    background: wheat;
    width: 95%;
}

.card-body{
    background-color: wheat;
}
.localName{
    display: inline-flex;
    flex-direction: column-reverse;
    font-family: 'Lovers Quarrel', cursive;
    font-size: 35px;
    text-align: center;
}

#locales{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px;
}

.localA{
    height: fit-content;
    padding: 10px;
    background-color: lightcoral;
    margin: 45px;
}

#msj{
    min-width: auto;
}